
        body {
            background-color: #6c757d;
            font-family: montserrat, sans-serif;
            font-size: 18px;
        }

        h1, h2, h3, h4 {
            color: #660708;
        }

        #formacao {
            font-size: 20px;
        }

        ul, p, a {
            color: white;
        }

        .tamanho-hab {
            font-size: 16px;
        }
        
 